<div class="container-fluid">

    <div class="row bg-dark d-flex align-items-center bd-top">
  
        <div class="col-md-6">
  
            <div class="row d-flex justify-content-center text-white">
                <div class="col-md-8">
                    <h1 class="fs-54">Este é o perfil de {{user.name}}</h1>
                </div>
            </div>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center">
            <img src="{{user.foto}}" alt="" width="400px" height="400px" class="rounded-circle">
        </div>
  
    </div>
  
  </div>

<div class="container bg-light">
    <div class="card-columns d-flex flex-column flex-wrap justify-content-center align-content-center">
        <div class="card mt-3 shadow border-0" style="width: 500px" *ngFor='let item of user.post | orderBy : key : reverse'>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <img 
                                    src="{{user.foto}}" 
                                    alt="Imagem do usuário" 
                                    width="50px" 
                                    height="50px" 
                                    class="rounded-circle mr-2"
                                >
                                <p class="card-subtitle my-2 text-muted">{{user.name}}</p>
                            </div>
                            <div class="col-md-4">
                                <ng-container *ngIf='isUserlogin()'>
                                    <a class="text-danger mr-2" data-toggle="modal" data-target="#deletePost" (click)='findByIdPost(item.idPost)'>Apagar</a>
                                    <a class="text-info mr-3"  data-toggle="modal"
                                    data-target="#updatePost" (click)='findByIdPost(item.idPost)'>Editar</a>
                                </ng-container>
                                <ng-container class="col-md-2 justify-content-end" *ngIf='isHaveArchive(item.archive)'>
                                    <a href="{{item.archive}}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                                </ng-container>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="card-text mb-0 mt-3">{{item.title}}</h5>
                                <small class="text-muted">{{item.fkTheme.name}}</small>
                                <p class="card-text mt-2">{{item.descriptionPost}}</p>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 d-flex justify-content-center">
                                <ng-container *ngIf='isHavePicture(item.picture)' class="col-md-12 d-flex justify-content-center">
                                    <img width="400px" height="400px" src="{{item.picture}}" alt="Post Image" class="rounded">
                                </ng-container>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12 d-flex justify-content-end">
                                <p class="card-text"  >
                                    <small>{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Update -->
<div class="modal fade" id="updatePost" tabindex="-1" aria-labelledby="TituloModalCentralizado" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Editar Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>

                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input
                        [(ngModel)]='postModel.title'
                        class="form-control"
                        type="text"
                        name="titulo"
                        id="titulo"
                        placeholder="Digite o título"
                    >
                </div>
                <div class="form-group">
                    <label for="titulo">Texto da postagem</label>
                    <textarea
                      [(ngModel)]='postModel.descriptionPost'
                        class="form-control"
                        type="text"
                        name="descriptionPost"
                        id="descriptionPost"
                        rows="3"
                        placeholder="Digite o texto"
                    ></textarea>
                        
                </div>

                <div class="form-group">
                    <label for="archive">Link</label>
                    <input
                        [(ngModel)]='postModel.archive'
                        class="form-control"
                        name="archive"
                        id="archive"
                        placeholder="Insira o link">            
                </div>

                <div class="form-group">
                  <label for="archive">Link da Foto</label>
                  <input
                      [(ngModel)]='postModel.picture'
                      class="form-control"
                      name="picture"
                      id="picture"
                      placeholder="Insira o link da foto">            
               </div>

                <div class="form-group">
                    <label for="texto">Escolha um novo Tema ou <a routerLink='/theme' data-dismiss="modal">Cadastre um novo</a>:</label>
                    <select class="form-control" name="theme" id="theme" [(ngModel)]='idTheme' (change)='findByIdTheme()'>
                        <option *ngFor='let item of listTheme' value="{{item.idTheme}}">{{item.descriptionTheme}}</option>
                    </select>
                </div>

            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success"  data-dismiss="modal" (click)='update()'>Atualizar</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="TituloModalCentralizado" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Editar Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <h3>Deseja mesmo deletar, {{postModel.title}}?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success"  data-dismiss="modal" (click)='delete()'>Deletar</button>
        </div>
      </div>
    </div>
</div>