<!-- <div class="container-fluid">
  <div class="row mt-4 align-items-center">
      <div class="col-md-6">
    <h2>Sobre o Projeto</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, corporis
      vel, odit ipsum, excepturi aliquam nobis quod vero optio iusto omnis
      delectus accusamus! Earum alias commodi adipisci corrupti laudantium iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, corporis
      vel, odit ipsum, excepturi aliquam nobis quod vero optio iusto omnis
      delectus accusamus! Earum alias commodi adipisci corrupti laudantium iste.
    </p>
  </div>
  <div class="col-md-6">
        <img src="https://files.comunidades.net/pedromartins/Objetivo_10.png" alt="ods">  
  </div>
</div>
</div> -->
<!-- <div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h2>Sobre o Projeto</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, corporis
                        vel, odit ipsum, excepturi aliquam nobis quod vero optio iusto omnis
                        delectus accusamus! Earum alias commodi adipisci corrupti laudantium iste.
                      </p>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, corporis
                        vel, odit ipsum, excepturi aliquam nobis quod vero optio iusto omnis
                        delectus accusamus! Earum alias commodi adipisci corrupti laudantium iste.
                      </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end pr-lg-5">
            <img src="https://files.comunidades.net/pedromartins/Objetivo_10.png" alt="ods">  
        </div>
    
    </div>
       
         
</div> -->
<div class="container-fluid bg-dark">  
 <div class="row mb-5 align-items-center ">
   <div class="col-md-6 mt-4 pl-6" >
        <img src="https://files.comunidades.net/pedromartins/Objetivo_10.png" alt="ods" class="rounded">
    </div>
    <div class="col-md-6 text-light">
      <h2>Sobre a ODS 10</h2>
      <p>
        A ODS 10 promove a inclusão social, econômica e política de todos, independentemente da idade, gênero, deficiência, raça, etnia, origem, religião, condição econômica ou outra situação. Além disso, tem o objetivo de garantir a igualdade de oportunidades e reduzir as desigualdades. E progressivamente alcançar e sustentar o crescimento da renda dos 40% da população mais pobre a uma taxa maior que a média nacional .
      </p>
    </div>
    
  </div>
  <div class="row mt-4 align-items-center">
    <div class="col-md-6 mb-4 pl-6">
          <img src="https://i.imgur.com/wu4NLFh.png" alt="Imagem projeto" width="500">
      </div>
      <div class="col-md-6 mb-4 text-light">
        <h2>Sobre o Projeto</h2>
        <p>
          A Tech For All é uma plataforma movida pelo desafio de prover o conhecimento de forma acessível a todos, 
com uma gama diversificada de cursos de TI atualizados para quem quiser ingressar na área ou se atualizar, com o
objetivo de expandir o aprendizado e suprir a necessidade das empresas por profissionais capacitados.
        </p>
        
      </div>
      
  </div>
</div>
