<div class="container-fluid bg-dark">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white mt-4">
          <h2 class="mb-3">Technology For All</h2>
          <p>
            A desigualdade entre países e seus interiores é de grande impacto
            pois a menor parte da população contém a maior parte da riqueza,
            enquanto a maior parte chega ás vezes até a passar fome, isso torna
            a sociedade muito desigualitária causando o aumento em índices como
            de desemprego, fome e até mesmo a miséria.
          </p>
          <p>
            A ODS 10 promove a inclusão social, econômica e política de todos,
            independentemente da idade, gênero, deficiência, raça, etnia,
            origem, religião, condição econômica ou outra situação. Além disso,
            tem o objetivo de garantir a igualdade de oportunidades e reduzir as
            desigualdades. E progressivamente alcançar e sustentar o crescimento
            da renda dos 40% da população mais pobre a uma taxa maior que a
            média nacional .
          </p>
          <p>
            Por isso a Tech For All é uma plataforma movida pelo desafio de
            prover o conhecimento de forma acessível a todos, com uma gama
            diversificada de cursos de TI atualizados para quem quiser ingressar
            na área ou se atualizar, com o objetivo de expandir o aprendizado e
            suprir a necessidade das empresas por profissionais capacitados.
          </p>
          <hr class="mt-3 bg-light"/>
          <p class="text-center mb-5">
            <a routerLink="/contact">Saiba mais sobre nós!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="https://i.imgur.com/egKDpjv.png" class="w-100 d-block" alt="" />
    </div>
  </div>
</div>
