<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h1>Technology For All</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dolores tenetur explicabo temporibus quos ut! Totam libero nihil in repellendus est a culpa eveniet et mollitia quae, modi necessitatibus ullam!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste praesentium beatae id, est quos ratione impedit totam adipisci officiis nemo explicabo voluptate ex tempore harum laborum a, inventore dolores debitis.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi, soluta accusantium nobis cum error quam ad ipsam aliquam facere iusto quia esse, pariatur fugiat sed, consequatur modi itaque ipsa dolorem?</p>
                   <hr class="mt-5 mb-5">
                   <p class="text-center">
                        <a routerLink="">Saiba mais sobre nós!</a>
                   </p>
                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg">

        </div>
    </div>
</div>