<div class="container">
  <div class="row bg-dark vw-100">
    <div class="col-md-12 mt-5">
      <div class="wrapper fotos">
        <h1
          class="
            titulo-site
            borda-titulo
            size-titulo
            d-flex
            justify-content-center
            mb-5
            text-white
          "
        >
          Desenvolvedores
        </h1>
        <div class="font-texto row d-flex justify-content-center">
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/84155234?v=4);
                "
              >
                <div class="inner">
                  <p>Washington Brochardt</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p class="text-center">
                    Capacidade de aprendizado rápido para assumir novas
                    responsabilidades.
                  </p>
                  <ul class="social-network">
                    <li class="">
                      <a
                        href="https://github.com/Washingtonbrochardt"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/washington-brochardt/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/75273446?v=4);
                "
              >
                <div class="inner">
                  <p>Vitor Alex</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2 d-flex flex-column align-content-around">
                  <p>
                    Capacidade de trabalhar bem em equipe e bom relacionamento
                    interpessoal.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/VitorAlex-97"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/vitoralexdev/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/91036815?v=4);
                "
              >
                <div class="inner">
                  <p>Laiane Karla</p>
                  <h5>Desenvolvedora Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2 d-flex flex-column align-content-around">
                  <p>Sou organizada, esforçada e muito comunicativa</p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/Laianekarla"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/laiane-silva-781134195/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center font-texto">
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/90856414?v=4);
                "
              >
                <div class="inner">
                  <p>Lauro Matheus</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>
                    Mmeu desafio pessoal é aprender cada vez mais e estar em
                    constante desenvolvimento.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/Lauro0304"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/lauro-matheus-0a109758/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/90806292?v=4);
                "
              >
                <div class="inner">
                  <p>Marília Muniz</p>
                  <h5>Desenvolvedora Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>Sou criativa e adoro colaborar nos projetos em equipe!</p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/GabiMuniz1"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/mariliamuniz/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/87707412?v=4);
                "
              >
                <div class="inner">
                  <p>Arthur Leandro</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>
                    Sou comunicativo, bastante proativo e já me falaram que sou
                    um líder nato.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/arthurleand"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/arthur-leandro-251119187/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
