<div class="container-fluid bg-dark">
  <div class="row">
    <nav class="navbar m-2 fixed-top rounded navbar-expand-lg navbar-dark bg-blackg5 shadow">

    <a class="navbar-brand font-weight-bold" href="#">
        <img src="https://i.imgur.com/SYh8LEM.png" width="50" height="50" class="d-inline-block align-top" alt="">
        <img src="https://i.imgur.com/MagV7sT.png" width="150"  class="d-inline-block align-top mt-1" alt="">
        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" routerLink='/home'>Início<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bold" routerLink='/about'>Sobre</a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link font-weight-bold" routerLink='/contact'>Contato</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning my-2 my-sm-0 mr-2" type="submit" routerLink="/login">Entrar</button>
        <button class="btn btn-outline-warning my-2  my-sm-0" type="submit" routerLink="/register">Cadastrar</button>
      </form>
    </div>
  </nav>
  </div>
  <div class="row mt-4 d-flex align-items-center">
    <div class="col-md-6">
      <div class="row mt-4 d-flex justify-content-center">
        <div class="col-md-6 text-white mt-4">
          <h1 class="mt-5 mb-1">Bem vindos a </h1> <img src="https://i.imgur.com/MagV7sT.png" alt="">
          <p>
            A Techonology For All foi pensada e desenvoldida com o único objetivo de facilitar o acesso a educação na 
            área de tecnologia, por isso contamos com você para somar na história de outros Dev's !!!
          </p>
          <hr class="mt-3 bg-light"/>
          <p class="text-center mb-5">
            <a routerLink="/contact">Saiba mais sobre nós!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img src="https://i.imgur.com/egKDpjv.png" class="w-100 d-block" alt="" />
    </div>
  </div>
  <div class="row mb-5 align-items-center">
    <div class="col-md-6 mt-4 pl-6" >
      <img src="https://files.comunidades.net/pedromartins/Objetivo_10.png" alt="ods" class="rounded">
  </div>
  <div class="col-md-6 text-light">
    <h2>Sobre a ODS 10</h2>
    <p>
      A ODS 10 promove a inclusão social, econômica e política de todos, independentemente da idade, gênero, deficiência, raça, etnia, origem, religião, condição econômica ou outra situação. Além disso, tem o objetivo de garantir a igualdade de oportunidades e reduzir as desigualdades. E progressivamente alcançar e sustentar o crescimento da renda dos 40% da população mais pobre a uma taxa maior que a média nacional .
    </p>
  </div>
  
</div>
<div class="row mt-4 align-items-center">
  <div class="col-md-6 mb-4 pl-6">
        <img src="https://i.imgur.com/wu4NLFh.png" alt="Imagem projeto" width="500">
    </div>
    <div class="col-md-6 mb-4 text-light">
      <h2>Sobre o Projeto</h2>
      <p>
        A Tech For All é uma plataforma movida pelo desafio de prover o conhecimento de forma acessível a todos, 
com uma gama diversificada de cursos de TI atualizados para quem quiser ingressar na área ou se atualizar, com o
objetivo de expandir o aprendizado e suprir a necessidade das empresas por profissionais capacitados.
      </p>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="wrapper fotos">
        <h1
          class="
            titulo-site
            borda-titulo
            size-titulo
            d-flex
            justify-content-center
            mb-5
            text-white
          "
        >
          Desenvolvedores
        </h1>
        <div class="font-texto row d-flex justify-content-center">
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/84155234?v=4);
                "
              >
                <div class="inner">
                  <p>Washington Brochardt</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p class="text-center">
                    Capacidade de aprendizado rápido para assumir novas
                    responsabilidades.
                  </p>
                  <ul class="social-network">
                    <li class="">
                      <a
                        href="https://github.com/Washingtonbrochardt"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/washington-brochardt/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/75273446?v=4);
                "
              >
                <div class="inner">
                  <p>Vitor Alex</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2 d-flex flex-column align-content-around">
                  <p>
                    Capacidade de trabalhar bem em equipe e bom relacionamento
                    interpessoal.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/VitorAlex-97"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/vitoralexdev/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/91036815?v=4);
                "
              >
                <div class="inner">
                  <p>Laiane Karla</p>
                  <h5>Desenvolvedora Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2 d-flex flex-column align-content-around">
                  <p>Sou organizada, esforçada e muito comunicativa</p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/Laianekarla"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/laiane-silva-781134195/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center font-texto">
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/90856414?v=4);
                "
              >
                <div class="inner">
                  <p>Lauro Matheus</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>
                    Mmeu desafio pessoal é aprender cada vez mais e estar em
                    constante desenvolvimento.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/Lauro0304"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/lauro-matheus-0a109758/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/90806292?v=4);
                "
              >
                <div class="inner">
                  <p>Marília Muniz</p>
                  <h5>Desenvolvedora Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>Sou criativa e adoro colaborar nos projetos em equipe!</p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/GabiMuniz1"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/mariliamuniz/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="m-2" ontouchstart="this.classList.toggle('hover');">
            <div class="containerCards cardPessoal">
              <div
                class="front"
                style="
                  background-image: url(https://avatars.githubusercontent.com/u/87707412?v=4);
                "
              >
                <div class="inner">
                  <p>Arthur Leandro</p>
                  <h5>Desenvolvedor Jr.</h5>
                </div>
              </div>
              <div class="back">
                <div class="inner2">
                  <p>
                    Sou comunicativo, bastante proativo e já me falaram que sou
                    um líder nato.
                  </p>
                  <ul class="social-network">
                    <li>
                      <a
                        href="https://github.com/arthurleand"
                        target="_blank"
                        class="icoGithub"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li class="mr-lg-5">
                      <a
                        href="https://www.linkedin.com/in/arthur-leandro-251119187/"
                        target="_blank"
                        class="icoLikedin"
                      >
                        <i class="fa fa-linkedin" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


