/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}
.fs-54{
    font-size: 54pt;
}

.fs-18{
    font-size: 18pt;

}
.bg-menu{
background-color: #1b1b1b;
}

.vh-100{
    min-height: 100vh;
}
